<div class="container" *ngIf="mode == 0">

    <form [formGroup] = "promeniForma" (ngSubmit) = "potvrdi(promeniForma.value)">
      <fieldset>
        <legend class="leg yellow-text-md" align="center">Unesite kod za izmenu lozinke:</legend>
        <div class="form-group row">
            <div class="col-md-6 mx-auto">
              <input type="text" class="form-control" name="codeToken" id="codeToken" placeholder="Kod" formControlName="codeToken">
            </div>
          </div>
        <div class="form-group row">
          <div class="col-md-6 mx-auto">
            <button type="submit" class="btn button-type1 btn-md btn-block" name="potvrda" [disabled] = "!promeniForma.valid">Potvrdi</button>
          </div>
        </div>
      </fieldset>
    </form>
  
</div>

<div class="container" *ngIf="mode == 1">

    <form [formGroup] = "izaberiLozinku" (ngSubmit) = "promeni(izaberiLozinku.value)">
      <fieldset>
        <legend class="leg yellow-text-md" align="center">Izaberite novu lozinku:</legend>
        
        <div class="form-group row">
            <div class="col-md-6 mx-auto">
              <input type="password" class="form-control" name="sifra" id="sifra" placeholder="Lozinka" formControlName="lozinka">
              <span class = "error-message" *ngIf="izaberiLozinku.get('lozinka').hasError('required') && izaberiLozinku.get('lozinka').dirty">Obavezno unesite lozinku</span>
              <span class = "error-message" *ngIf="izaberiLozinku.get('lozinka').hasError('minlength') && izaberiLozinku.get('lozinka').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
              <span class = "error-message" *ngIf="izaberiLozinku.get('lozinka').hasError('maxlength') && izaberiLozinku.get('lozinka').dirty">Presli ste broj karaktera koji smete uneti</span>
               </div>
          </div>
         <div class="form-group row">
            <div class="col-md-6 mx-auto">
              <input type="password" class="form-control" name="sifra2" id="sifra2" placeholder="Potvrda Lozinke" formControlName="sifraPotvrda">
              <span class = "error-message" *ngIf="izaberiLozinku.get('sifraPotvrda').hasError('required') && izaberiLozinku.get('sifraPotvrda').dirty">Morate potvrditi vasu lozinku</span>
              <span class = "error-message" *ngIf="izaberiLozinku.get('sifraPotvrda').hasError('minlength') && izaberiLozinku.get('sifraPotvrda').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
              <span class = "error-message" *ngIf="izaberiLozinku.get('sifraPotvrda').hasError('maxlength') && izaberiLozinku.get('sifraPotvrda').dirty">Presli ste broj karaktera koji smete uneti</span>
              <span class = "error-message" *ngIf="izaberiLozinku.hasError('missmatch') && izaberiLozinku.get('sifraPotvrda').dirty">Lozinke se ne poklapaju</span>
              <span class = "success-message" *ngIf="!izaberiLozinku.hasError('missmatch') && izaberiLozinku.get('sifraPotvrda').dirty">Lozinke se poklapaju</span>
               </div>
          </div>

        <div class="form-group row">
          <div class="col-md-6 mx-auto">
            <button type="submit" class="btn button-type1 btn-md btn-block" name="promeni" [disabled] = "!izaberiLozinku.valid">Potvrdi</button>
          </div>
        </div>
      </fieldset>
    </form>
  
</div>