<div class="container">
  <h3>Pronadjite smestaj za vas boravak</h3>
  <form #searchForm="ngForm" (submit)="search(searchForm)" autocomplete="off">
    <div class="input-group mb-3">
      <input type="text" class="form-control col-md-4" name="destinacija" placeholder="Gde idete?" aria-label="destinacija" aria-describedby="basic-addon2" [(ngModel)]="destinationName" (input)="getCitiesAndCountries()" required>
        <input type="date" class="form-control col-md-2" name="datumOd" [(ngModel)]="dateFrom" [min]="currentDate" [max]="dateTo" required>
        <input type="date" class="form-control col-md-2" name="datumDo" [(ngModel)]="dateTo" [min]="dateFrom" required>
        <select class="form-control col-md-2" style="height:45px;" name="peopleNumber" [(ngModel)]="peopleNumber" required>
          <option value="" hidden>Broj ljudi</option>
            <option *ngFor="let people of peopleCounter()" value="{{people}}">{{people}}</option>
        </select>
        <select class="form-control col-md-3" style="height:45px;" name="number" [(ngModel)]="resultsNumber" required>
            <option value="" hidden>Broj rezultata po stranici</option>
              <option *ngFor="let number of numberCounter()" value="{{number}}">{{number}}</option>
          </select>
       <div class="input-group-append">
          <button class="btn btn-primary button-type1" type="submit">Pretrazi</button>
      </div>
    </div>
  </form>
  <div *ngIf="showDestinations" class="destination-container-dropdown col-md-4">
    <div *ngFor="let destination of destinations" class="destinations" (click)="selectDestination(destination)">
        {{destination | destinationNamePipe}}
    </div>
  </div>
  <div class="container" *ngIf="showSearch">
    <app-booking-units [bookingUnitsPageable]="bookingUnits" (prevEmitter)="executeSearch($event)" (nextEmitter)="executeSearch($event)" (advancedSearchEmitter)="executeSearch($event)"></app-booking-units>
  </div>
  <div *ngIf="submittedError" class="error-message">
    <p *ngIf="searchForm.form.controls['destinacija'].getError('required')">Morate izabrati destinaciju.</p>
    <p *ngIf="searchForm.form.controls['datumOd'].getError('required')">Morate uneti datum pocetka boravka.</p>
    <p *ngIf="searchForm.form.controls['datumDo'].getError('required')">Morate uneti datum kraja boravka.</p>
    <p *ngIf="searchForm.form.controls['peopleNumber'].getError('required')">Morate uneti broj ljudi.</p>
    <p *ngIf="searchForm.form.controls['number'].getError('required')">Morate uneti broj zeljeni broj rezultata po stranici.</p>
    <p *ngIf="invalidDestination">Nepoznata destinacija!</p>
  </div>
</div>