<div class="row">

  <div class="col-lg-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis facilisis sodales. 
      Nullam elementum volutpat dolor, sit amet fermentum nisl aliquet vestibulum. 
      Etiam euismod interdum enim, a auctor dui blandit a. 
      Integer tristique tortor sapien, consequat luctus erat euismod aliquam. Nulla facilisi. 
      Donec et sodales sapien, eget egestas nunc. Sed vitae pretium erat. 
      Interdum et malesuada fames ac ante ipsum primis in faucibus. In vitae lacus nec ligula tincidunt congue. 
    </p>
    <br>
    <button class="btn btn-md btn-primary button-type1">Click me</button>
    <br> <br>
    <button class="btn btn-md btn-primary button-type2">Click me</button>
  </div>

  <div class="col-lg-4">
    <p>
      Donec rhoncus vehicula eros sed ornare. Aenean ut ante ut tortor aliquet mollis. 
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
      Nam ornare enim id maximus iaculis. Vestibulum pretium tincidunt urna, vel dapibus urna pretium ac. 
      Maecenas sapien lorem, semper vel ligula quis, pharetra malesuada eros. 
      Vivamus congue interdum lorem vitae laoreet. Cras a commodo nisl. 
      Phasellus id odio sit amet orci cursus suscipit. 
    </p>
    <br>
    <button class="btn btn-md btn-primary button-type1">Click me</button>
    <br> <br>
    <button class="btn btn-md btn-primary button-type2">Click me</button>
  </div>

  <div class="col-lg-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis facilisis sodales. 
        Nullam elementum volutpat dolor, sit amet fermentum nisl aliquet vestibulum. 
        Etiam euismod interdum enim, a auctor dui blandit a. 
        Integer tristique tortor sapien, consequat luctus erat euismod aliquam. Nulla facilisi. 
        Donec et sodales sapien, eget egestas nunc. Sed vitae pretium erat. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. In vitae lacus nec ligula tincidunt congue. 
      </p>
      <br>
  
    </div>

</div>