<div class="container">
  <form [formGroup] = "registracijaForma" (ngSubmit) = "registruj(registracijaForma.value)">
    <fieldset>
      <legend class="leg blue-text-lg" align="center">Registrujte se na nas sajt</legend>

    <div class="form-group row">
        <div class="col-md-6 mx-auto">
            <select class="form-control" id="tip" formControlName="tip" >
                <option id="tip1" value="REG_USER">Regularan korisnik</option> 
                <option id="tip2" value="AGENT">Agent</option> 
            </select>
        </div>
    </div>

     <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="username" id="username" placeholder="Korisnicko ime" formControlName="username">
          <span class = "error-message" *ngIf="registracijaForma.get('username').hasError('required') && registracijaForma.get('username').dirty">Obavezno unesite korisnicko ime</span>
          <span class = "error-message" *ngIf="registracijaForma.get('username').hasError('pattern') && registracijaForma.get('username').dirty">Unesite korisnicko ime u validnoj formi</span>
          <span class = "error-message" *ngIf="registracijaForma.get('username').hasError('maxlength') && registracijaForma.get('username').dirty">Presli ste broj karaktera koji smete uneti</span>
        </div>
        </div>
      <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="password" class="form-control" name="sifra" id="sifra" placeholder="Lozinka" formControlName="lozinka">
          <span class = "error-message" *ngIf="registracijaForma.get('lozinka').hasError('required') && registracijaForma.get('lozinka').dirty">Obavezno unesite lozinku</span>
          <span class = "error-message" *ngIf="registracijaForma.get('lozinka').hasError('minlength') && registracijaForma.get('lozinka').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
          <span class = "error-message" *ngIf="registracijaForma.get('lozinka').hasError('maxlength') && registracijaForma.get('lozinka').dirty">Presli ste broj karaktera koji smete uneti</span>
           </div>
      </div>
     <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="password" class="form-control" name="sifra2" id="sifra2" placeholder="Potvrda Lozinke" formControlName="sifraPotvrda">
          <span class = "error-message" *ngIf="registracijaForma.get('sifraPotvrda').hasError('required') && registracijaForma.get('sifraPotvrda').dirty">Morate potvrditi vasu lozinku</span>
          <span class = "error-message" *ngIf="registracijaForma.get('sifraPotvrda').hasError('minlength') && registracijaForma.get('sifraPotvrda').dirty">Vasa lozinka mora sadrzati bar 8 karaktera</span>
          <span class = "error-message" *ngIf="registracijaForma.get('sifraPotvrda').hasError('maxlength') && registracijaForma.get('sifraPotvrda').dirty">Presli ste broj karaktera koji smete uneti</span>
          <span class = "error-message" *ngIf="registracijaForma.hasError('missmatch') && registracijaForma.get('sifraPotvrda').dirty">Lozinke se ne poklapaju</span>
          <span class = "success-message" *ngIf="!registracijaForma.hasError('missmatch') && registracijaForma.get('sifraPotvrda').dirty">Lozinke se poklapaju</span>
           </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="ime" id="ime" placeholder="Ime" formControlName="ime">
          <span class = "error-message" *ngIf="registracijaForma.get('ime').hasError('required') && registracijaForma.get('ime').dirty">Obavezno unesite ime</span>
          <span class = "error-message" *ngIf="registracijaForma.get('ime').hasError('maxlength') && registracijaForma.get('ime').dirty">Presli ste broj karaktera koji smete uneti</span>
        </div>
        </div>
        <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="prezime" id="prezime" placeholder="Prezime" formControlName="prezime">
          <span class = "error-message" *ngIf="registracijaForma.get('prezime').hasError('required') && registracijaForma.get('prezime').dirty">Obavezno unesite prezime</span>
          <span class = "error-message" *ngIf="registracijaForma.get('prezime').hasError('maxlength') && registracijaForma.get('prezime').dirty">Presli ste broj karaktera koji smete uneti</span>
        </div>
        </div>
        <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <select class="form-control" id="drzava" formControlName="drzava">
            <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option> 
          </select>
          <span class = "error-message" *ngIf="registracijaForma.get('drzava').hasError('required') && registracijaForma.get('drzava').dirty">Obavezno izaberite drzavu</span>
        </div>
        </div>
      <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="grad" id="grad" placeholder="Grad" formControlName="grad">
          <span class = "error-message" *ngIf="registracijaForma.get('grad').hasError('required') && registracijaForma.get('grad').dirty">Obavezno unesite grad</span>
        </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mx-auto">
            <input type="text" class="form-control" name="postbroj" id="postbroj" placeholder="Postanski broj" formControlName="postbroj">
            <span class = "error-message" *ngIf="registracijaForma.get('postbroj').hasError('pattern') && registracijaForma.get('postbroj').dirty">Unesite postanski broj u validnoj formi</span>
          </div>
          </div>
        <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="adresa" id="adresa" placeholder="Adresa" formControlName="adresa">
          <span class = "error-message" *ngIf="registracijaForma.get('adresa').hasError('required') && registracijaForma.get('adresa').dirty">Obavezno unesite adresu</span>
        </div>
        </div>
      <div class="form-group row">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="mail" id="mail" placeholder="Email Adresa" formControlName="email">
          <span class = "error-message" *ngIf="registracijaForma.get('email').hasError('required') && registracijaForma.get('email').dirty">Obavezno unesite email</span>
          <span class = "error-message" *ngIf="registracijaForma.get('email').hasError('pattern') && registracijaForma.get('email').dirty">Unesite e-mail u validnoj formi</span>
          <span class = "error-message" *ngIf="registracijaForma.get('email').hasError('maxlength') && registracijaForma.get('email').dirty">Presli ste broj karaktera koji smete uneti</span>
        </div>
      </div>
        <div class="form-group row" *ngIf="registracijaForma.get('tip').value === 'REG_USER'">
        <div class="col-md-6 mx-auto">
          <input type="text" class="form-control" name="telefon" id="telefon" placeholder="Kontakt Telefon" formControlName="telefon">
          <span class = "error-message" *ngIf="registracijaForma.get('telefon').hasError('pattern') && registracijaForma.get('telefon').dirty">Unesite telefon u validnoj formi</span>
        </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mx-auto">
            <button type="submit" class="logregBtn btn button-type1 btn-md btn-block" name="regPrijava" [disabled] = "!registracijaForma.valid">Registracija</button>
          </div>
        </div>
  </fieldset>
  </form>
</div>