<mat-dialog-content>
  <label >Ovde ide neki dugacak tekst da mogu da testiram duzinu koliko moze da staneeeeeee!!!</label> 
</mat-dialog-content>
<hr>
<mat-dialog-actions>
  <button type="submit" class="btn btn-md btn-primary button-type2" (click)="potvrdi(prijavaForma.value)">Potvrdi</button>
  <button class="btn btn-md btn-primary button-type1" (click)="zatvori()">Odustani</button>
  <br>
  <button class="btn btn-md btn-link white-link" (click)="zaboravljenaLozinka()">Zaboravili ste lozinku?</button>
</mat-dialog-actions>
