body {
    background-color: #e6eef0;
}

.gray-bg-main{
    background-color: #e6eef0;
}

.white-panel-bg{
    background-color: #ffffff;
}

.navbar-background{
    background: #0b5c7c;
}

.blue-bg-main{
    background: #0b5c7c;
}

.nav-link, .navbar-left, .nav-item {
    color: #f8ff95;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.navbar-brand {
    color: #f8ff95;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
}

.yellow-bg-main{
    background-color: #fff06c;
}

.navbar-right{
    margin-top:20px; 
}

#dropdownCombo {
    background: #fff06c;
}

.button-type1{
    background: #ffed47;
    border-color: #ddd05f;
    color: #383535
}

.button-type2{
    background: #71bfd3;
    border-color: #6eaebe;
    color: #383535
}

.yellow-text-sm {
    color: #f8ff95;
    font-size: 14px;
    text-shadow: 1px 1px 1px #383535;
}

.yellow-text-md {
    color: #f8ff95;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.yellow-text-lg {
    color: #f8ff95;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
}

.blue-text-sm {
    color: #0b5c7c;
    font-size: 14px;
    text-shadow: 1px 1px 1px #383535;
}

.blue-text-md {
    color: #0b5c7c;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.blue-text-lg {
    color: #0b5c7c;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
}

.gray-text-sm {
    color: #e6eef0;
    font-size: 14px;
    text-shadow: 1px 1px 1px #383535;
}

.gray-text-md {
    color: #e6eef0;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.gray-text-lg {
    color: #e6eef0;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
}

.error-message{
    color : rgb(233, 72, 85);
    font-weight: 600;
}

.success-message{
    color :#3aca3a;
    font-weight: 600;
}

.white-link{
    color : wheat;
}

.gap-top-xs{
    margin-top: 20px;
}

a:hover {
    cursor:pointer;
}

.border-margin {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.right-items{
    float:right;
}

.destination-container-dropdown{
    position: relative;
    z-index: 1;
    max-height: 300px;
    background: #f6f6f6
}

.destinations{
    padding : 10px;
    font-family: sans-serif;
}

.destinations:hover{
    cursor:pointer;
    background: #c2c2c2;
}

.bookingUnitsBorder{
    position: relative;
    border:1px solid#0b5c7c;
    border-width:medium; 
    margin-top: 15px;
}

.bookingUnitPrice{
    padding-right: 5px;
    position:absolute;
    bottom : 0;
    right:0;
}

.bookingUnitRating{
    padding-top:10px;
    padding-right: 5px;
    position:absolute;
    top : 0;
    right:0;
}
